<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navItens" aria-controls="navItens" aria-expanded="false" aria-label="Toggle navigation" mb="3">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Memorizer</a>
            <div class="collapse navbar-collapse" id="navItens">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link border-bottom active rounded" aria-current="page" href="#">Deck</a>
                </li>

              </ul>
              <a class="nav-link active border-bottom rounded" aria-current="page" href="#">Settings</a>
              <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Logout</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
      <main>
      </main>
  </body>
</html>
