<app-menu></app-menu>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <main>
         <table class="table mt-1 pl-5 pr-5">
          <thead>
            <tr>
              <th scope="col">Deck</th>
              <th scope="col">Pending activities</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let deck of decks">
              <td>{{deck.name}}</td>
              <td>{{deck.pendingActivities}}</td>
              <td><a>>edit</a></td>
            </tr>
          </tbody>
         </table>
      </main>
  </body>
  <app-footer></app-footer>
</html>
